/*Please do not change the color/font of the website so that we all stay uniform for a concistant UX.*/

a:focus {
	outline: none;
}

body { 
	color: black;
    font-family: 'Josefin Sans', sans-serif;
	background-color: #ddd1e7;
}

.dropdown-submenu { /*from menu code*/
	position: relative;
}

.dropdown-submenu .dropdown-menu { /*from menu code*/
	top: 0;
	left: 100%;
	margin-top: -1px;
}

.edge {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}


h1{
	font-size: 25pt;
}

.headback{
	background: #3b1261;
}

.headtable{
	width: 100%;
}

img.auto{
	width: 100%;
}

.menucolor, .btn-default, .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default:hover, .dropdown-menu li a:focus, .dropdown-menu li a:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
	background-color: #9975b9;
	border-color: #9975b9;
	color: #595959;
}

p {
	font-size: 15pt;
}

td.logo {
	width: 20%;
}

table h1 {
	font-size: 50pt;
	text-align: center;
	color: #595959;
    font-weight: bold;
}

@media only screen and (min-width : 1001px) { /*This code alters the format of the menu when the screen is more than 1000px.*/

	td.logo {
		width: 200px;
	}
	
	.magic {
		display: none;
	}
	
	.unfold {
		display: inline;
	}
	
	.unfold li, .unfold li a {
		display: inline;	
	}
	
	.unfold {
		position: static;
	}
	
}

@media only screen and (max-width : 1000px){ /*This code alters the format of the menu when the screen is more than 1000px.*/
	
	.magic {
		display: inline;
	}
	
}
